.box{
    background-color: aqua;
    border: 3px solid black;
    width: 400px;
    height: 400px;

    display: flex;
    justify-content: center; 
    align-items: center;

    margin: auto;

    transition: all 3s linear 0s;

}

.box:hover{
    /* transform:rotate(90deg);   */
    transform: scale(2);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
p{
    font-size:30px;

}

